/* Dropdown.css */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: #0c0c0c;
  border: 1px solid #dcc487;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: "Italiana";
  font-size: 14px !important;
}

.dropdown:focus {
  outline: none;
  /* border: 1px solid #dcc487;  */
}

.dropdown-title {
  cursor: pointer;
}

.dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  /* background-color: #fff; */
  /* border: 1px solid #ccc; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdown-list li {
  padding: 8px;
  cursor: pointer;
}

.dropdown:hover .dropdown-list {
  display: block;
}
